In [1]:
!python --version

Python 3.7.6

In [2]:
!pwd

/Users/avkash/work/prodramp/publiccode/feature-store/feast-starter

In [3]:
!ls

1-Install-init.ipynb                 5-Prediction-stored-features.ipynb
2-Using Existing Feature Store.ipynb Access-sqlite-db.ipynb
3-Understand Data.ipynb              driver_orders.csv
4-Working-with-features.ipynb        feature_repo

In [4]:
%cd feature_repo

/Users/avkash/work/prodramp/publiccode/feature-store/feast-starter/feature_repo

In [5]:
!ls -l

total 16
-rw-r--r--  1 avkash  staff     0 Feb 20 09:04 __init__.py
drwxr-xr-x  3 avkash  staff    96 Feb 23 14:19 data
-rw-r--r--  1 avkash  staff  1402 Feb 23 14:19 example.py
-rw-r--r--  1 avkash  staff   109 Feb 23 14:19 feature_store.yaml

In [6]:
%cd data

/Users/avkash/work/prodramp/publiccode/feature-store/feast-starter/feature_repo/data

In [7]:
!ls -l

total 72
-rw-r--r--  1 avkash  staff  34468 Feb 23 14:19 driver_stats.parquet

In [8]:
import pandas as pd

In [9]:
df = pd.read_parquet('driver_stats.parquet', engine='pyarrow')

In [10]:
df

,event_timestamp,driver_id,conv_rate,acc_rate,avg_daily_trips,created
0,2022-02-08 14:00:00+00:00,1005,0.380004,0.887956,629,2022-02-23 14:19:15.332
1,2022-02-08 15:00:00+00:00,1005,0.872891,0.200085,670,2022-02-23 14:19:15.332
2,2022-02-08 16:00:00+00:00,1005,0.770272,0.759065,577,2022-02-23 14:19:15.332
3,2022-02-08 17:00:00+00:00,1005,0.493256,0.138020,234,2022-02-23 14:19:15.332
4,2022-02-08 18:00:00+00:00,1005,0.159436,0.943274,521,2022-02-23 14:19:15.332
...,...,...,...,...,...,...
1802,2022-02-23 12:00:00+00:00,1001,0.414424,0.301549,948,2022-02-23 14:19:15.332
1803,2022-02-23 13:00:00+00:00,1001,0.539819,0.483499,281,2022-02-23 14:19:15.332
1804,2021-04-12 07:00:00+00:00,1001,0.554773,0.407182,274,2022-02-23 14:19:15.332
1805,2022-02-16 02:00:00+00:00,1003,0.454958,0.233427,618,2022-02-23 14:19:15.332
1806,2022-02-16 02:00:00+00:00,1003,0.454958,0.233427,618,2022-02-23 14:19:15.332

In [11]:
df.columns

Index(['event_timestamp', 'driver_id', 'conv_rate', 'acc_rate',
       'avg_daily_trips', 'created'],
      dtype='object')

In [12]:
df.describe()

         driver_id    conv_rate     acc_rate  avg_daily_trips
count  1807.000000  1807.000000  1807.000000      1807.000000
mean   1003.000000     0.496738     0.486318       500.019369
std       1.413822     0.287444     0.292035       287.676254
min    1001.000000     0.001161     0.000026         0.000000
25%    1002.000000     0.250723     0.233252       248.000000
50%    1003.000000     0.488760     0.473661       516.000000
75%    1004.000000     0.745423     0.742081       745.500000
max    1005.000000     0.999972     0.999415       999.000000

In [14]:
df['driver_id'].unique()

array([1005, 1004, 1003, 1002, 1001])